<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../lib/bootstrap.css">
</head>
<body>
<form action="">
    <p>Фамилия:</p>
    <input type="text" class="form-control">

    <p>Имя:</p>
    <input type="text" class="form-control">

    <p>Отчество:</p>
    <input type="text" class="form-control">
    <input type="date" class="form-control"> < Дата рождения <input type="date" class="form-control">
    
    <p>Пол:</p>
    <select>
        <option>м</option>
        <option>ж</option>
    </select>
    <p>Семейное положение:</p>
    <select>
        <option>холост (не замужем)</option>
        <option>женат (замужем)</option>
    </select>
    <p>Гражданство:</p>
    <input type="text">
    <h3>Адрес</h3>

    <p>Страна:</p>
    <input type="text" class="form-control">

    <p>Город:</p>
    <input type="text" class="form-control">

    <p>Улица:</p>
    <input type="text" class="form-control">

    <p>Дом:</p>
    <input type="text" class="form-control">

    <p>Квартира:</p>
    <input type="text" class="form-control">
</form>
</body>
</html>